/*
  SASS Files - This is automatically compiled into css using the scss npm script in package.json each time this file is changed.
*/
p {
  font-size: 16px; }

.audio-file-shop {
  background-color: whitesmoke;
  border: 1px solid;
  border-radius: 5px;
  border-color: #b9b9b9;
  -webkit-box-shadow: 2px 2px 3px 0px #9e9e9e;
  -moz-box-shadow: 2px 2px 3px 0px #9e9e9e;
  box-shadow: 2px 2px 3px 0px #9e9e9e; }
  .audio-file-shop table {
    width: 100%;
    display: block;
    overflow-y: auto;
    height: 300px; }
  .audio-file-shop .category-row-content {
    position: relative;
    text-align: center; }
  .audio-file-shop .category-row {
    border-bottom: 2px solid;
    border-color: #b9b9b9;
    background-color: gainsboro; }
  .audio-file-shop .category-row .category-name {
    position: relative;
    display: inline-block; }
  @media (min-width: 767px) {
    .audio-file-shop .category-row .category-name {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); } }
  .audio-file-shop .category-row span {
    color: #3d884d;
    font-weight: normal;
    display: block;
    font-weight: bold; }
  @media (min-width: 450px) {
    .audio-file-shop .category-row span {
      float: right;
      padding-right: 20px; } }
  .audio-file-shop .song-row {
    background-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d9d9d9;
    height: 30px; }
    .audio-file-shop .song-row img {
      height: 20px;
      width: 20px;
      margin: 5px; }
    .audio-file-shop .song-row .song-title {
      text-align: left;
      width: 100%;
      font-weight: 100; }
    @media (min-width: 992px) {
      .audio-file-shop .song-row .shopping-selection {
        white-space: nowrap; }
        .audio-file-shop .song-row .shopping-selection select {
          margin-left: 20px; }
        .audio-file-shop .song-row .shopping-selection label {
          margin-right: 20px; } }
    .audio-file-shop .song-row .shopping-selection label {
      margin-right: 20px;
      margin-top: auto;
      margin-bottom: auto;
      color: #3d884d; }
  .audio-file-shop .song-row.playing-true {
    background-color: rgba(0, 0, 0, 0.1); }
  .audio-file-shop .purchase-music-form {
    margin: 0px 0px 10px 0px; }

.audio-player {
  position: relative;
  height: 180px;
  width: 100%;
  border-bottom: 1px solid;
  border-color: #b9b9b9; }
  .audio-player .audio-player-controls {
    position: relative;
    display: inline-block;
    width: calc(100% - 180px);
    padding: 6px 6px 6px 0px;
    height: 100%; }
    .audio-player .audio-player-controls .current-time {
      position: absolute;
      left: 0;
      bottom: 25px; }
    .audio-player .audio-player-controls .duration {
      position: absolute;
      right: 6px;
      bottom: 25px; }
    .audio-player .audio-player-controls .progress-bar-wrapper {
      background-color: rgba(0, 0, 0, 0.2); }
    .audio-player .audio-player-controls .progress-bar {
      background-color: red;
      height: 5px; }
    .audio-player .audio-player-controls .volume {
      position: absolute;
      right: 25px;
      bottom: 10px;
      width: 100px;
      height: 5px;
      opacity: 0.8;
      transition: opacity 500ms;
      /* The slider itself */
      /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ }
      .audio-player .audio-player-controls .volume .fa-volume-down {
        position: absolute;
        left: 0;
        margin-top: -5px;
        color: #666;
        margin-left: -18px; }
      .audio-player .audio-player-controls .volume .fa-volume-up {
        position: absolute;
        right: 0;
        margin-top: -5px;
        color: #666;
        margin-right: -22px; }
      .audio-player .audio-player-controls .volume .slider {
        -webkit-appearance: none;
        /* Override default CSS styles */
        -moz-appearance: none;
        /* Override default look */
        -o-appearance: none;
        /* Override default look */
        appearance: none;
        position: absolute;
        left: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        background: #555;
        border-radius: 15px; }
      .audio-player .audio-player-controls .volume .slider-min {
        position: absolute;
        left: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        background: #440099;
        border-radius: 15px; }
      .audio-player .audio-player-controls .volume .slider:focus {
        outline: none;
        /* Fully shown on mouse-over */ }
      .audio-player .audio-player-controls .volume .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #FFF;
        cursor: pointer;
        outline: none;
        -webkit-z-index: 1;
        -moz-z-index: 1;
        z-index: 1; }
      .audio-player .audio-player-controls .volume .slider::-moz-range-thumb {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #FFF;
        margin-left: -8px;
        margin-top: -8px;
        cursor: pointer;
        outline: none;
        -webkit-z-index: 1;
        -moz-z-index: 1;
        z-index: 1; }
    .audio-player .audio-player-controls .volume:hover {
      opacity: 1;
      transition: opacity 500ms; }
  .audio-player .album-art {
    height: 168px;
    width: 168px;
    overflow: hidden;
    display: inline-block;
    margin: 6px; }
    .audio-player .album-art img {
      width: auto;
      height: 100%;
      vertical-align: super; }
  @media (max-width: 330px) {
    .audio-player .album-art {
      display: none; }
    .audio-player .audio-player-controls {
      width: 100%; } }

.waveform-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  padding-right: 6px;
  width: 100%;
  opacity: 0.8;
  transition: opacity 500ms; }

.waveform-wrapper:hover {
  opacity: 1;
  transition: opacity 500ms; }

.waveform-playing {
  opacity: 1;
  transition: opacity 500ms; }

.hidden {
  display: none; }

.audio-player-controls .o-play-btn {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  left: 0;
  height: 32px;
  padding-top: 0px;
  padding-bottom: 0px; }
  .audio-player-controls .o-play-btn__icon {
    height: 30px;
    width: 30px;
    line-height: 30px;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden; }
    .audio-player-controls .o-play-btn__icon:before, .audio-player-controls .o-play-btn__icon:after {
      content: '';
      position: absolute;
      transition: 0.3s;
      background: #000;
      height: 100%;
      width: 50%;
      top: 0; }
    .audio-player-controls .o-play-btn__icon:before {
      left: 0; }
    .audio-player-controls .o-play-btn__icon:after {
      right: 0; }
  .audio-player-controls .o-play-btn__mask {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block; }
    .audio-player-controls .o-play-btn__mask:before, .audio-player-controls .o-play-btn__mask:after {
      content: '';
      position: absolute;
      left: 0;
      height: 100%;
      width: 150%;
      background: whitesmoke;
      transition: all 0.3s ease-out; }
    .audio-player-controls .o-play-btn__mask:before {
      top: -100%;
      transform-origin: 0% 100%;
      transform: rotate(26.5deg); }
    .audio-player-controls .o-play-btn__mask:after {
      transform-origin: 0% 0%;
      transform: rotate(-26.5deg);
      top: 100%; }
  .audio-player-controls .o-play-btn--playing .o-play-btn__icon:before {
    transform: translateX(-25%); }
  .audio-player-controls .o-play-btn--playing .o-play-btn__icon:after {
    transform: translateX(25%); }
  .audio-player-controls .o-play-btn--playing .o-play-btn__mask:before, .audio-player-controls .o-play-btn--playing .o-play-btn__mask:after {
    transform: rotate(0); }
